{{- if .Values.localPathProvisioner.configMap.helperPod.image }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.localPathProvisioner.configMap.name }}
  namespace: {{ .Values.localPathProvisioner.namespace }}
  labels:
    app.kubernetes.io/name: {{ include "cluster-storage.name" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/component: storage-config
    app.kubernetes.io/managed-by: {{ .Release.Service }}
data:
  config.json: |-
    {
      "nodePathMap": [
        {
          "node": "DEFAULT_PATH_FOR_NON_LISTED_NODES",
          "paths": ["{{ .Values.localPathProvisioner.storagePath }}"]
        }
      ],
      "setup": {{ .Values.localPathProvisioner.configMap.setup | toJson }},
      "teardown": {{ .Values.localPathProvisioner.configMap.teardown | toJson }},
      "helperPod": {
        "image": "{{ .Values.localPathProvisioner.configMap.helperPod.image }}",
        "imagePullPolicy": "{{ .Values.localPathProvisioner.configMap.helperPod.imagePullPolicy }}"
      }
    }
  helperPod.yaml: |-
    apiVersion: v1
    kind: Pod
    spec:
      containers:
      - name: helper-pod
        image: "{{ .Values.localPathProvisioner.configMap.helperPod.image }}"
        imagePullPolicy: "{{ .Values.localPathProvisioner.configMap.helperPod.imagePullPolicy }}"
{{- end }}

