controller:
  metrics:
    enabled: true
  service:
    type: NodePort
    nodePorts:
      http: 80
      https: 443
  image:
    repository: registry.k8s.io/ingress-nginx/controller
    tag: "v1.11.1"
    # registry will be set via --set in workflow
  admissionWebhooks:
    patch:
      image:
        repository: registry.k8s.io/ingress-nginx/kube-webhook-certgen
        tag: "v1.4.1"
        # registry will be set via --set in workflow

