controller:
  metrics:
    enabled: true
  service:
    type: LoadBalancer
  image:
    repository: registry.k8s.io/ingress-nginx/controller
    tag: "v1.9.4"
    # registry will be set via --set in workflow


